<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>join</display-name>
	<servlet>
		<servlet-name>LoadCustomersServlet</servlet-name>
		<servlet-class>br.com.join.demo.cliente.servlet.LoadCustomersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadCustomersServlet</servlet-name>
		<url-pattern>/cadastro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveCustomerServlet</servlet-name>
		<servlet-class>br.com.join.demo.cliente.servlet.SaveCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveCustomerServlet</servlet-name>
		<url-pattern>/salvar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<servlet-class>br.com.join.demo.cliente.servlet.DeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<url-pattern>/deletar</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>cadastro</welcome-file>
	</welcome-file-list>
</web-app>